apachelogs==0.6.0
asgiref==3.8
attrs==25.3.0
certifi==2025.8.3
charset-normalizer==3.4.3
contourpy==1.0.6
cycler==0.12.1
dateparser==1.1.4
Django==5.2.6
django-clearcache==1.2.1
django-crispy-forms==2.4
django-prometheus==2.2.0
djangorestframework==3.14.0
fonttools==4.38.0
httmock==1.4.0
idna==3
kiwisolver==1.4.4
matplotlib==3.6.2
numpy==2.3.3
packaging==25.0
pandas==2.3.2
Pillow==11.3.0
pip-upgrade==0.0.6
prometheus-api-client==0.6.0
prometheus-client==0.22.1
prometheus-python==1.0.3
psutil==7
pydicti==1.1.6
pyparsing==3.0.9
python-dateutil==2.9.0.post0
pytz==2025.2
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2025.9.1
requests==2.28.1
six==1.16.0
sqlparse==0.5.3
tzdata==2025.2
tzlocal==5.3
urllib3==2.5
